.counterContainer button {
	height: 25px;
	width: 25px;
	border: 1px solid lightgrey;
}

.counterContainer {
	display: flex;
	gap: 10px;
	align-items: center;
	margin: 5px 0;
	width: 250px;
}

.itemButton {
	background-color: rgba(220, 220, 220, 0.5);
}

.itemButton:hover {
	cursor: pointer;
}

.limitButton {
	background-color: rgba(172, 172, 172, 0.808);
}

.removeButton {
	margin-left: 10px;
}
