nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	padding: 8px 0;
	background-color: lavender;
}

nav ul {
	display: flex;
	list-style: none;
	gap: 20px;
}

nav a {
	text-decoration: none;
	color: black;
	border-radius: 2px;
	padding: 2px 6px;
}

nav a.active {
	background-color: rgb(180, 180, 201);
}

nav a:hover {
	background-color: rgb(180, 180, 201);
}
