.itemCard {
	border: 1px solid rgb(188, 188, 209);
	padding: 8px;
	width: 25vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
	border-radius: 4px;
	margin-bottom: 40px;
	background-color: rgba(230, 230, 250, 0.342);
}

.itemCard h5::first-letter {
	text-transform: capitalize;
}

.cardYear {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

img {
	height: 200px;
}
