.cardContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 40px 80px 100px 80px;
	background-color: rgba(220, 220, 220, 0.185);
	gap: 20px 40px;
	min-height: 80vh;
}
